@import "~src/app/utils/mixin";
@import "~src/app/utils/theme";

.buttons {
	margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
	@include notSmall {
		margin-bottom: 15%;
	}
	button {
		border: 2px solid rgb(103, 58, 183, 0.7);
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
		color: $primary-color;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: relative;
	z-index: 0;
	width: 260px;
	height: 260px;
	font-size: xx-large;
	@include small {
		width: 170px;
		height: 170px;
		font-size: x-large;
	}
	border-radius: 50%;
	overflow: hidden;
	padding: 2rem;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;

	div {
		position: absolute;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        
        background-image: linear-gradient(rgb(133, 98, 203), rgb(103, 58, 183)), 
            linear-gradient(rgb(103, 58, 183), rgb(143, 128, 213)),
            linear-gradient(rgb(153, 138, 223), rgb(193, 178, 243)), 
            linear-gradient(rgb(250,250,250), rgb(103, 58, 183));
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 50%;
	}
}

.rotating {
	&::before {
        animation: rotate 3s linear infinite;
	}
}
